@using Entity.Models
@{
    Layout = null;
}
@***********************************************************************************@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="sumit kumar">
    <title>JusTechs</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css">
    @*<link href="/Content/font-awesome.min.css" rel="stylesheet" type="text/css">*@
    @*<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-css.min.css" type="text/css">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="/Content/StyleHome.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>

</head>
<body>
    @{
        Kullanici kul = null;
        if (Session["kullanici"] != null)
        {
            kul = Session["kullanici"] as Kullanici;
        }

    }
    <nav class="navbar navbar-default navbar-fixed-top navcarbox" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index"> <img src="~/Content/images/LOGO.PNG" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/Home/Index">Anasayfa</a></li>
                    <li><a href="/Home/Hakkımızda/">Hakkımızda</a></li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>*@
                    <li><a href="/Haber/Gundem">Gündem</a></li>
                    <li><a href="/Haber/Index">Tüm Haberler</a></li>
                    @if (kul == null)
                    {
                    <li>
                        <a href="/Home/Giris">
                            <span class="glyphicon glyphicon-log-in"></span> Giriş
                        </a>
                    </li>
                        <li>
                            <a href="/Home/KayitOl">
                                <span class="glyphicon glyphicon-user"></span> Üye Ol
                            </a>
                        </li>}
                    else
                    {
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-user"></span> @kul.KullaniciAdi
                            </a>
                        </li>


                        <li>
                            <a href="/Home/Cikis">
                                <span class="glyphicon glyphicon-log-out"></span> Çıkış
                            </a>
                        </li>
                    }
                    @if (Session["kullanici"] != null && kul.AdminMi)
                    {
                        <li><a href="/Haber/HaberEkle/">HaberEkle</a></li>
                    }

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-collapse -->
    </nav>

    @***********************************************************************************@
    @RenderBody()

    @*<div class="container">
        <div class="row">
            <div class="col-md-4">*@
    @*<aside id="blog-section" class="col-lg-4 sidebar 1p30">*@
    @RenderSection("GuncelHaberler", false)
    @RenderSection("Arsivler", false)
    @RenderSection("Kategoriler", false)

    @*=====================
               NEWSLATTER
        ======================
        @*<div class="widget-sidebar">
            <h2 class="title-widget-sidebar">// NEWSLATTER</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut .</p>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                <input id="email" type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <button type="button" class="btn btn-warning">Warning</button>
        </div>*@




    @*</aside>*@
    @***********************************************************************************@
    @RenderSection("scripts", false)
    @section scripts{

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
    }




</body>
</html>


@*<script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.js"></script>*@
