@model Entity.Models.Haber

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/Layout_main.cshtml";
}

<div class="container">
    <div class="row">
        @*<div class="col-sm-2 paddingTop20">
                <nav class="nav-sidebar">
                    <ul class="nav">
                        <li class="active"><a href="javascript:;"><span class="glyphicon glyphicon-star"></span> News</a></li>
                        <li><a href="javascript:;">Latest news</a></li>
                        <li><a href="javascript:;">Updates</a></li>
                        <li><a href="javascript:;">Training</a></li>
                        <li><a href="javascript:;">Nutrition</a></li>
                        <li><a href="javascript:;">Proteins</a></li>
                        <li><a href="javascript:;">Recipes</a></li>
                        <li><a href="javascript:;">Challenge</a></li>
                        <li class="nav-divider"></li>
                        <li><a href="javascript:;"><i class="glyphicon glyphicon-off"></i> Sign in</a></li>
                    </ul>
                </nav>
                <div><h2 class="add">Place for your add!</h2></div>
            </div>*@

        <div class="col-lg-10 blogShort left">
            <div class="row">
                <h1>@Model.Title</h1>
                <img src="@Model.ResimURL" alt="post img" class="pull-left img-responsive postImg img-thumbnail margin10">

                <article>
                    <p>
                        @Model.Content
                    </p>

                    <br>
                    @*<iframe width="100%" height="480" src="//www.youtube.com/embed/Bn_d-ghQ5HA" frameborder="0" allowfullscreen></iframe>*@

                </article>
            </div>
            <div>
                <hr />

            </div>
        </div>
        @*<div class="col-lg-4 right">
            <h3>Bu haber oylamak ister misiniz?</h3>*@
        @*<ul class="list-inline">
                <li><button id="1" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>
                <li><button id="2" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>
                <li><button id="3" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>
                <li><button id="4" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>
                <li><button id="5" class="glyphicon glyphicon-star" aria-hidden="true"></button></li>
            </ul>*@
        @*</div>*@
    </div>
</div>
<dl class="dl-horizontal row col-lg-8 col-md-10">
    <dt>
        @Html.DisplayNameFor(model => model.EklemeTarihi)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EklemeTarihi)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.GoruntulenmeSayisi)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GoruntulenmeSayisi)
    </dd>
</dl>
<div class="comments">
    <div class="comment-wrap">
        <div class="photo">
            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')"></div>
        </div>
        <div class="comment-block">
            <form action="">
                <textarea name="" id="yorum" cols="700" rows="2" placeholder="Add comment..."></textarea>
            </form>
        </div>
        <button type="button" class="btn btn-info" id="YorumYap">Yorum Yap</button>
    </div>

    @foreach (var item in Model.Yorumlar)
    {
        <div class="comment-wrap">
            <div class="photo">
                <div class="avatar"><img class="avatar" src="/Content/images/LOGO.PNG" /></div>
            </div>
            <div class="comment-block">
                <p class="comment-text">@item.YorumIcerik</p>
                <div class="bottom-comment">
                    <div class="comment-date">@item.YorumTarihi</div>
                    <ul class="comment-actions">
                        <li class="complain"></li>
                        <li class="reply"></li>
                    </ul>
                </div>
            </div>
        </div>
    }
    <br>
</div>
@section scripts{
    <script>


       $("#YorumYap").click(function () {
           var yorumumuz = $("#yorum").val();
           $.ajax({
               url: "/Haber/Yorumyap/",
               type:"POST",
               data:{yorum:yorumumuz,
                   "Haberid":@Model.HaberID,

                   //dataType:"json",
                   success: function(data){
                       alert("Yorum Kaydedildi!");
                   }
               }
           });

       });

    </script>
}

@*<script>
           $(".glyphicon-star").click(function () {

               var oy = $(this).attr("id");
               console.log(oy);
               var HaberID=@Model.HaberID;

               $.ajax({

                   url: "/Haber/HaberOy/"+HaberID,
                   data: { "oy": oy },
                   method: "POST",
                   success: function (cevap) {
                       alert(cevap)
                   }
               })
           })
    </script>*@