@model IEnumerable<Entity.Models.Haber>

@{
    ViewBag.Title = "Tüm Haberler";
    Layout = "/Views/Shared/Layout_main.cshtml"; 
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResimURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EklemeTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToplamOy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriID)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.Content.Length >300)
                {
                    <p class="card-text">
                        @Html.Raw(item.Content.Substring(0, 300)) ...
                    </p>
                }
                else
                {
                    <p class="card-text">
                        @Html.Raw(item.Content)
                    </p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResimURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EklemeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToplamOy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.HaberID }) |
                @Html.ActionLink("Details", "Details", new { id=item.HaberID }) |
                @*@Html.ActionLink("Sil", "HaberSil","Haber", new { id=item.HaberID })*@
                @*@if (User.IsInRole("Admin") || User.IsInRole("MakaleModerator"))
                {*@
                    <span rel="@item.HaberID" class="makalesil btn btn-danger pull-right">Sil</span>
                                @*<a href="/Makale/Duzenle/@item.MakaleID" class="btn btn-default pull-right">Düzenle</a>*@
                @*}*@
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
