@model IEnumerable<Entity.Models.Haber>

@{
    ViewBag.Title = "Tüm Haberler";
    Layout = "/Views/Shared/Layout_main.cshtml";
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-md-12 gap10"></div>

    @foreach (var item in Model)
    {
        <div class="col-md-10 blogShort">
            <h1>@Html.ActionLink(item.Title, "Detay", new { id = item.HaberID })</h1>
            <img src="@item.ResimURL" alt="post img" class="col-lg-2 col-md-2 pull-left img-responsive thumb margin10 img-thumbnail">
            <article>
                @if (item.Content.Length > 300)
                {
                    <p class="col-lg-8 col-md-8 card-text">
                        @Html.Raw(item.Content.Substring(0, 300)) ...
                    </p>
                }
                else
                {
                    <p class="col-lg-8 col-md-8 card-text">
                        @Html.Raw(item.Content)
                    </p>
                }
            </article>
            <br />
            @if (User.IsInRole("Admin") @*|| User.IsInRole("HaberModerator")*@)
            {
                <a href="/Haber/Duzenle/@item.HaberID/" class="btn btn-info pull-right">Düzenle</a>
                <span rel="@item.HaberID" class="habersil btn btn-danger pull-right">Sil</span>
            }
        </div>
    }
</body>
</html>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".habersil").click(function () {
            var id = $(this).attr("rel");
            $.ajax({
                url: "/Haber/HaberSil/",
                method: "POST",
                data: { "id": id },
                success: function (gelenVeri) {
                    alert(gelenVeri.message);
                    location.reload();
                },
                error: function () {
                    alert("Bağlantıda hata oluştu");
                }
            });
        });
    })
</script>
